/* Import */
@import url(resets.css);
@import url(fonts.css);
/* Styles */
.wrapper {
  min-height: 100%;
  overflow: clip;
  display: flex;
  flex-direction: column;
  background-color: #28293e;
}
.wrapper > main {
  flex-grow: 1;
}
[class*="__container"] {
  max-width: 1210px;
  padding-inline: 20px;
  margin: 0 auto;
}
.header {
  margin-bottom: 90px;
}
.header__name {
  color: olivedrab;
  font-size: 24px;
  font-weight: 900;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 10px 10px;
}
/* Portfolio menu*/
.portfolio {
  margin-bottom: 64px;
}

.portfolio__header {
  text-align: center;
  margin-bottom: 40px;
}
.portfolio__header p {
  color: #ef6d58;
  text-align: center;
  line-height: 200%;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.portfolio__header h1 {
  text-align: center;
  color: #ffffff;
  font-size: 56px;
  font-weight: 800;
  line-height: 115%;
  text-transform: capitalize;
}
.portfolio__menu {
  display: flex;
  justify-content: center;
  gap: 60px;
  line-height: 200%;
  color: #ffffffa3;
  text-transform: capitalize;
  margin-bottom: 70px;
}
.block:hover sup {
  color: #ef6d58;
}
.block {
  transition-duration: 0.5s;
}
.block:hover {
  color: #ffffff;
  transform: scale(1.2);
}
/* Portfolio images */
.portfolio__images {
  max-width: 1170px;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}
.portfolio__block {
  display: flex;
  position: relative;
  flex-grow: 1;
  flex-shrink: 0;
  /* flex-basis: 470px; */
}
.portfolio__items {
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  gap: 25px;
  justify-content: flex-end;
  align-items: flex-start;
  flex-direction: column;
  padding: 50px 45px;
  flex-shrink: 0;
  /* padding: 50px 20px; */
}
.portfolio__img {
  flex-grow: 1;
  flex-shrink: 0;
  /* flex-basis: 470px; */
  width: 100%;
  height: 100%;
}
.portfolio__block:nth-child(4n + 1) {
  flex-basis: 670px;
  aspect-ratio: 670 / 416;
}
/* .portfolio__block:nth-child(4n + 2) {
  width: 670px;
  height: 300px;
} */
