@import url("reset.css");

/* Header */
/* .sections {
  color: black;
} */
.section-block {
  color: blue;
}
/* .section-about {
}
.section-folk {
}
.section-diches {
}
.section-regions {
}
.section-actors {
}
.section-history-zakarpatia {
}
.section-war {
}
.section-footer {
} */
/* Main */
.ukraine-title {
  color: yellowgreen;
}
.title-text-history-ukraine {
  color: olive;
}
.title-text-development {
  color: palevioletred;
}
.title-text-state {
  color: orangered;
}
/* .title_text_independence {
  color: fuchsia;
} */
.title-text-famine {
  color: brown;
}
.title-text-movement {
  color: chartreuse;
}
#folk-signs {
  color: blueviolet;
}
#dishes-by-region {
  color: fuchsia;
}
#regions {
  color: darkgoldenrod;
}
.link-region-list,
.actor-about-span,
.war-link-span {
  color: blue;
}
span.link-region {
  color: blue;
}
.actor-about {
  color: orange;
}

.actors-public-figures-title {
  color: burlywood;
}
.zakarpat-title {
  color: black;
}
/* .zakarpatia_title_text {
  color: green;
} */
.war-title {
  color: black;
}
/* .war_title_text {
  color: red;
} */
[class*="olso"] {
  color: green;
}
h2.sections {
  color: black;
}
.info p {
  color: blueviolet;
}
p {
  color: red;
}
li.dishes-by-region-list-item {
  color: darkgreen;
}
h2.actors-public-figures {
  color: black;
}
.title-development > p {
  color: black;
}
.title-independence ~ p {
  color: blue;
}
.title-independence + p {
  color: black;
}
