@import url(resets.css);
@import url(fonts.css);
.wrapper {
  min-height: 100%;
  overflow: clip;
  background-color: #000000;
}
/* Header */
.header {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 999;
  background-color: #626262;
  padding-block: 20px;
  margin-bottom: 30px;
}
.header-menu__container {
  width: 100%;
  margin-inline: auto;
  padding-inline: 20px;
  font-size: 0;
}
.menu-block li {
  display: inline-block;
  vertical-align: middle;
  font-size: 30px;
  font-weight: 900;
  text-align: center;
  width: 33%;
}
.menu-block li:hover {
  color: #00fbff;
}
/* Main */
.lesson {
  margin-bottom: 50px;
}
.lesson__content {
  font-size: 40px;
  font-weight: 900;
  color: wheat;
  text-align: center;
  border: 1px dotted rgb(255, 166, 0);
  box-shadow: 0 0 30px 20px #00fbff;
  color: #ffa600;
  background-color: #366c6d;
}
[class="beginner__container"],
[class="strong__container"] {
  max-width: 1600px;
  font-size: 0;
  padding-inline: 20px;
  margin: 0 auto;
  text-align: center;
}
[class*="transform"] {
  margin: 0 auto;
  color: wheat;
  font-size: 30px;
  font-weight: 900;
  margin-bottom: 20px;
}
/* Beginner */
/* .beginner__container {
  max-width: 1500px;
  font-size: 0;
  padding-inline: 20px;
  margin: 0 auto;
  text-align: center;
} */
.beginner {
  margin-bottom: 50px;
}

.beginner__block {
  height: 270px;
  border: 1px solid #366c6d;
  display: inline-block;
  vertical-align: top;
  width: 280px;
  background: radial-gradient(circle, transparent 50%, rgb(21, 74, 63) 100%);
  position: relative;
  border-radius: 10px;
  margin: 0px 20px 20px 0px;
}
.beginner__block:last-of-type {
  margin: 0px 20px 0 0px;
}
.beginner-click {
  position: absolute;
  top: 25px;
  left: 25px;
  background-color: #165a65d7;
  width: 225px;
  height: 220px;
  border-radius: 10px;
}
.beginner__block:hover .beginner-click {
  transition: transform 0.5s ease-in-out;
  box-shadow: 0 0 30px 20px #00fbff;
}
.beginner-click__me {
  font-size: 20px;
  font-weight: 900;
  text-align: center;
  line-height: 200%;
  color: rgba(0, 255, 191, 0.834);
  padding: 10px;
}
/* click */
.beginner__block:hover .block-01 {
  transform: translate(10%, 10%);
  z-index: 100;
}
.beginner__block:hover .block-02 {
  transform: translateY(30px);
  z-index: 99;
}
.beginner__block:hover .block-03 {
  transform: translateX(30px);
  translate: 5% 10%;
  z-index: 98;
}
.beginner__block:hover .block-04 {
  translate: 20% 20%;
  z-index: 97;
}
.beginner__block:hover .block-05 {
  z-index: 96;
  transform: scale(0);
}
.beginner__block:hover .block-06 {
  z-index: 95;
  transform: scale(1.5);
}
.beginner__block:hover .block-07 {
  z-index: 94;
  transform: scale(1);
}
.beginner__block:hover .block-08 {
  z-index: 93;
  scale: 1.5;
}
.beginner__block:hover .block-09 {
  z-index: 92;
  transform: rotate(-180deg);
}
.beginner__block:hover .block-10 {
  z-index: 91;
  transform: rotate(180deg);
}
.beginner__block:hover .block-11 {
  z-index: 90;
  transform: rotateX(180deg);
}
.beginner__block:hover .block-12 {
  z-index: 89;
  transform: rotateY(180deg);
}
.beginner__block:hover .block-13 {
  z-index: 88;
  rotate: 30deg;
}
.beginner__block:hover .block-14 {
  z-index: 87;
  transform: skew(20deg, 20deg);
  /* transform: skew(-20deg, -20deg); */
}
.beginner__block:hover .block-15 {
  z-index: 86;
  transform: translate(10%, 10%) scale(1.5) rotate(360deg) skew(10deg, 10deg);
}
.beginner__block:hover .block-16 {
  z-index: 85;
  transform-origin: 0 0;
  transform: rotate(30deg);
}
/* .beginner-block:hover .click-17 {
  z-index: 85;
  transform-origin: top right;
  transform: rotate(-30deg);
} */
/* Strong */
.strong {
  margin-bottom: 50px;
}
.strong__block {
  height: 270px;
  border: 1px solid #6d3636;
  display: inline-block;
  vertical-align: top;
  width: 280px;
  background: radial-gradient(circle, transparent 50%, #4a1515 100%);
  position: relative;
  border-radius: 10px;
  margin: 0px 20px 20px 0px;
  perspective: 300px;
  transform-style: preserve-3d;
}
.strong-click {
  position: absolute;
  top: 25px;
  left: 25px;
  background-color: #5e1b1bd7;
  width: 225px;
  /* min-height: 200px; */
  height: 220px;
  border-radius: 10px;
  /* transform: rotateY(180deg);
  transition: all 0.3s ease; */
}
.strong-click__me {
  font-size: 20px;
  font-weight: 900;
  text-align: center;
  line-height: 200%;
  color: #ff0000d5;
  padding: 10px;
}

.strong__block:hover .strong-click {
  transition: transform 0.5s ease-in-out;
  box-shadow: 0 0 30px 20px #ff0000;
}
