/* Fonts */

/* Import */
@import url(fonts.css);
@import url(resets.css);
/* Styles */
body {
  background-color: #28293e;
}
.wrapper {
  min-height: 100%;
  overflow: hidden;
}
[class*="__container"] {
  max-width: 570px;
  margin: 0 auto;
  font-size: 0;
  padding-inline: 10px;
}
.header {
  margin-bottom: 50px;
}
.header__lesson {
  text-align: center;
  font-size: 30px;
  font-weight: 900;
}
.project {
  background: #28293e;
}
.project__container {
  margin-block-end: 50px;
}
.project__images {
  height: 601px;
  position: relative;
  z-index: 999;
}
.circle::after {
  content: "";
  background: #32334c;
  width: 370px;
  height: 370px;
  border-radius: 50%;
  position: absolute;
  left: 20%;
  top: 20%;
}
.img__laptop {
  position: relative;
  top: 0;
  left: 0;
  border-radius: 50% 50% 8px 8px;
  background-color: #b550f8;
  height: 305px;
  max-width: 246px;
}
.img__laptop img {
  max-width: 255px;
  max-height: 265px;
  position: absolute;
  top: 24px;
  left: 21px;
  width: 100%;
}
.img__stars {
  background: url("../img/stars.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 100px;
  height: 100px;
  background-color: #ef6d58;
  border-radius: 50%;
  position: relative;
  top: -43%;
  right: -53%;
}

.img__cloud {
  background: url("../img/cloud.svg");
  background-repeat: no-repeat;
  width: 112px;
  height: 82px;
  color: #8082a5;
  position: absolute;
  top: 15%;
  right: 0;
}
.img__half-cloud {
  background: url(../img/half-cloud.svg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 142px;
  height: 73px;
  position: relative;
  top: -10%;
  left: 0;
}
.img__woman {
  position: absolute;
  top: 31%;
  right: 0;
  border-radius: 50% 50% 8px 8px;
  background-color: #f7cc47;
  height: 305px;
  max-width: 246px;
}
.img__woman img {
  position: relative;
  top: 37px;
  left: 0;
  max-width: 246px;
  max-height: 269px;
  width: 100%;
}
.img__card {
  background: url(../img/card.svg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 214px;
  height: 112px;
  position: absolute;
  bottom: 8%;
  left: 10%;
}
.img__arrow {
  background: url(../img/arrow.svg);
  background-repeat: no-repeat;
  width: 100px;
  height: 82px;
  position: absolute;
  bottom: -4%;
  right: 27%;
}

.footer__text {
  font-size: 30px;
  font-weight: 900;
  text-align: center;
}
/* latest */
[class*="latest__container"] {
  max-width: 1440px;
  margin: 0 auto;
  font-size: 0;
}
.latest {
  margin-bottom: 50px;
}

.latest__blocks {
  max-width: 448px;
  max-height: 576px;
  position: relative;
  left: 34%;
  bottom: 0;
}
.block__design {
  background: url(../img/latest/design.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 448px;
  height: 576px;
}
.block p:first-child {
  color: black;
  line-height: 200%; /* 32/16 */
  border-radius: 19px;
  background-color: white;
  font-size: 16px;
  padding: 5px 16px;
  text-align: center;
  display: inline-block;
}
.block h2:last-of-type {
  font-size: 40px;
  font-weight: 800;
  line-height: 120%; /* 48/40 */
  color: white;
}
.block {
  position: relative;
}
.block p {
  position: absolute;
  bottom: 120px;
  left: 48px;
}
.block h2 {
  position: absolute;
  bottom: 51px;
  left: 48px;
}
