@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500,600,700&display=swap");

@import url("reset.css");
@import url("fonts.css");
/*  */
/*   font-family: "Protest Guerrilla", sans-serif;
link...
 */
/* -------------------------------------- */

[class="header"] {
  margin-block: 50px;
}
.block-lesson h1 {
  font-family: "Roboto", system-ui;
  font-size: 50px;
  font-weight: 900;
  line-height: 150%;
  color: #000000;
  padding-inline: 20px;
  text-align: center;
}
/* -------------------------------------- */
.main {
}
.container_01 {
  background-color: #000000;
}
.container-streaming {
  font-family: "Manrope", sans-serif;
  background-color: #000000;
  max-width: 100%;
  line-height: 150%;
  padding-top: 150px;
  padding-bottom: 150px;
  padding-left: 30px;
  padding-right: 30px;
  color: white;
  max-width: 1596px;
  margin: 0 auto;
  overflow: hidden;
}
.title {
  padding-bottom: 80px;
  max-width: 1297px;
}
.title h2 {
  font-weight: 700;
  font-size: 38px;
  color: #ffffff;
  padding-bottom: 14px;
}
.title p {
  font-weight: 400;
  font-size: 18px;
  color: #808080;
}
.items {
  margin: 0 -15px;
  font-size: 0;
}
.item {
  width: 33.33%;
  padding: 15px;
  display: inline-block;
  padding: 15px;
  margin-bottom: 30px;
  max-width: 1597px;
}
.item-content {
  line-height: 1.5;
  border-radius: 12px;
  border: 1px solid #262626;
  background-color: #0f0f0f;
  padding: 50px;
}
.item-content p {
  color: #808080;
  font-weight: 400;
  font-size: 18px;
}
.heading img {
  display: inline-block;
  vertical-align: middle;
  border-radius: 12px;
  border: 1px solid #2c2c2c;
  padding: 16px;
}
.heading {
  margin-bottom: 30px;
}
/* -------------------------------------- */

.block-product {
}
.# {
}
.button {
}
.button-link {
}
.footer {
}
.footer-info {
}
.footer-text {
}
