@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500,600,700&display=swap");

@import url("reset.css");
@import url("fonts.css");
/*  */
/*   font-family: "Protest Guerrilla", sans-serif;
link...
 */
/* -------------------------------------- */

[class="header"] {
  margin-block: 50px;
}
.block-lesson h1 {
  font-family: "Roboto", system-ui;
  font-size: 50px;
  font-weight: 900;
  line-height: 150%;
  color: #000000;
  padding-inline: 20px;
  text-align: center;
}
/* -------------------------------------- */
.main {
}
.wrapper-one {
  background-color: #1e1e1e;
}
.section-one {
  background-color: #1e1e1e;
  color: #fff;
  width: 0 auto;
  line-height: 1.5;
  padding-block: 150px;
  max-width: 1597px;
  margin: 0 auto;
}
/* Heading */
.heading {
  font-family: "Manrope", sans-serif;
}
.heading h2 {
  font-weight: 700;
  font-size: 38px;
  padding-bottom: 14px;
}
.heading p {
  font-weight: 400;
  font-size: 18px;
  color: #808080;
}
.heading {
  margin-bottom: 80px;
  width: 1296px;
}

/* Items */
.items {
  margin-inline: -15px;
  font-size: 0;
}
.item {
  width: 33.33%;
  display: inline-block;
  margin-bottom: 30px;
  padding-inline: 15px;
}
.content {
  font-size: 18px;
  padding: 50px;
  border-radius: 12px;
  border: 1px solid #808080;
  background-color: #000000;
}
.content p {
  color: #808080;
  font-size: 18px;
}
.content-heading {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  margin-block-end: 30px;
}
.content-heading img {
  display: inline-block;
  vertical-align: middle;
  padding: 16px;
  border-radius: 12px;
  background-color: #1e1e1e;
  margin-right: 16px;
}
.content-heading h3 {
  display: inline-block;
  vertical-align: middle;
  font-weight: 600;
  font-size: 24px;
}
/* -------------------------------------- */

.footer {
}
.footer-info {
}
.footer-text {
}
