@import url(resets.css);
@import url(fonts.css);
/* Styles */
body {
  background-color: #e6e8eb;
}
.wrapper {
  min-height: 100%;
  overflow: clip;
}

[class*="__container"] {
  margin: 0 auto;
  padding-inline: 20px;
  max-width: 760px;
}
.header {
  margin-bottom: 50px;
  background-color: #316166;
}
.header__info {
  display: flex;
  justify-content: center;
}

.header__info h1 {
  font-size: 30px;
  font-weight: 900;
  line-height: 200%;
  padding-inline: 10px;
  color: wheat;
  text-shadow: 10px 10px 10px black;
  background: linear-gradient(
    45deg,
    rgba(255, 175, 0, 1) 0%,
    rgba(33, 240, 206, 1) 29%,
    rgba(238, 174, 174, 1) 56%,
    rgba(174, 181, 238, 1) 80%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* Form Project */
.global-form-01 {
  background-color: #e6e8eb;
  margin-bottom: 100px;
}
.form-project input {
  padding-bottom: 15px;
}
.form-project input:focus-visible {
  outline: none;
  border-bottom: 1.5px solid #a53dff;
}
.form-project input:focus-visible::placeholder {
  color: #a53dff;
}
.form-project textarea:focus-visible {
  outline: none;
  border-bottom: 1.5px solid #a53dff;
}
.form-project textarea:focus-visible::placeholder {
  color: #a53dff;
}
.form-project-block-01 input {
  border-bottom: 1.5px solid #e6e8eb;
}
.form-project {
  margin: 0 auto;
  box-shadow: 0px 59px 124px 0px rgba(0, 0, 0, 0.12);
  border-radius: 15px;
  background-color: #fff;
}
.form-project-block-01 {
  display: flex;
  gap: 25px;
  flex-direction: column;
  padding: 80px;
}

.form-budget-subject {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}
.form-03 {
  flex: 1 1 200px;
}
.form-04 {
  flex: 1 1 335px;
}
.project-area {
  resize: vertical;
  min-height: 50px;
  border-bottom: 1.5px solid #e6e8eb;
}
/* Button */
.form-project button:focus-visible {
  outline: 3px solid #000000;
}
.button {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  line-height: 150%;
  font-weight: 600;
  background-color: #a53dff;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  color: #fff;
  align-self: flex-start;
}
.button::after {
  display: flex;
  content: "";
  background: url(../img/vector.webp);
  background-repeat: no-repeat;
  background-size: cover;
  width: 24px;
  height: 24px;
}

/* Form Stream */
.global-form-02__container {
  max-width: 936px;
}
.global-form-02 {
  background-color: #141414;
}
.form-stream {
  padding: 50px;
  background-color: #0f0f0f;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.form-stream input:focus-visible {
  outline: 2px solid #371717;
}
.form-stream textarea:focus-visible {
  outline: 2px solid #371717;
}

.stream-block {
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
}
.form-stream {
  color: white;
}

.stream-block label {
  gap: 15px;
  color: #fff;
}
.stream-block input {
  padding: 20px;
  background-color: #141414;
  border-radius: 8px;
}
.stream-block textarea {
  color: rgba(153, 153, 153, 1);
  border: 1px solid #262626;
}
.stream {
  display: flex;
  flex-direction: column;
  gap: 15px;
  flex: 1 1 373px;
}
.stream input {
  color: rgba(153, 153, 153, 1);
  border: 1px solid #262626;
}

.form-message {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.form-message textarea {
  padding: 20px;
  background-color: #141414;
  border-radius: 8px;
  border: 1px solid #262626;
  color: rgba(153, 153, 153, 1);
}
/* Block Checkbox / Button*/
.form-checkbox {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 70px;
}
.block-checkbox {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.block-checkbox__input {
  appearance: none;
}

.block-checkbox__label {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}
.block-checkbox__label::before {
  content: "";
  width: 28px;
  height: 28px;
  border: 1px solid #262626;
  background-color: #0f0f0f;
  border-radius: 5px;
}
.block-checkbox__input:checked + .block-checkbox__label::before {
  background-image: url(../img/vector.webp);
  background-size: contain;
  background-repeat: no-repeat;
}

/* Checkbox button */
.block-checkbox-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 70px;
  flex-wrap: wrap;
}
.stream-button-form {
  display: flex;
  padding: 15px 25px;
  background-color: rgba(229, 0, 0, 1);
  color: #fff;
  border-radius: 8px;
}
