/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@700&display=swap");

/* css */
@import url("fonts.css");
@import url("reset.css");

/* Тут ви зустрінете багато практики які закоментовані для запобігання конфліктів, а також через не надобність в них.

ХОРОШОГО ЧИТАННЯ))) */

/* Styles */
body {
  background: url(../img/homework/Yevhen.webp) /*no-repeat*/;
  /* width: 50%; */
  background-attachment: fixed;
}
.wrapper {
  min-height: 100%;
  overflow: hidden;
}
.homework {
  background: radial-gradient(circle, transparent 20%, rgba(0, 0, 0, 0.7) 100%);
  margin-block: 100px;
  font-family: "Edu AU VIC WA NT Guides", cursive;
  font-weight: 700;
  line-height: 150%;
  text-transform: capitalize;
}
.homework p {
  text-align: center;
  text-transform: capitalize;
  font-family: "Edu AU VIC WA NT Guides", cursive;
  font-weight: 700;
  font-size: 50px;
  padding-block: 50px;
}

.header {
  background: #141414;
  font-family: "Manrope", sans-serif;
  margin-bottom: 100px;
}
.header-img {
  min-height: 860px;
  background: url(../img/header/header-icon-center.png) center / 470px no-repeat,
    linear-gradient(to bottom, rgba(20, 20, 20, 0) 20%, #141414 100%) center /
      cover no-repeat,
    linear-gradient(to top, rgba(20, 20, 20, 0) 20%, #141414 100%) center /
      cover no-repeat,
    url(../img/header/header_01.png) center / cover no-repeat;
  /* background-attachment: fixed; */
}
.header-title-text {
  text-align: center;
  max-width: 1097px;
  margin: 0 auto;
  margin-top: -45px;
  line-height: 150%;
  font-size: 0;
  margin-bottom: 50px;
}
.header-title-text h1 {
  font-size: 58px;
  font-weight: 700;
  color: #fff;
  line-height: 150%;
  margin-bottom: 14px;
}
.header-title-text p {
  color: gray;
  font-size: 18px;
  margin-bottom: 50px;
  line-height: 150%;
}
/* .button {
  text-align: center;
  border-radius: 8px;
  background-color: #e50000;
  max-width: 251px;
  margin: 0 auto;
  line-height: 150%;
  font-size: 0;
}
.link-button {
  vertical-align: middle;
  display: inline-block;
  font-size: 0;
  padding: 18px 30px;
}
.link-button-start {
  background-color: white;
  width: 28px;
  height: 28px;
  clip-path: polygon(75% 50%, 0 0, 0 100%);
  border-radius: 5px;
  font-size: 20px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 4px;
  line-height: 150%;
} */
/* .link-button-start a {
  background-color: white;
  width: 30px;
  height: 30px;
  clip-path: polygon(75% 50%, 0 0, 0 100%);
  border-radius: 5px;
  font-size: 18px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 4px;
} */

/* .link-button-upper {
  text-transform: capitalize;
  line-height: 150%;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  display: inline-block;
  vertical-align: middle;
  line-height: 150%;
} */

/* ------------- */
/* .button {
  text-align: center; /* Сентруємо кнопку по центрі */
/* }  */
/* .link-button {
  display: inline-block; /* Розташовуємо в один рядок */
/* }  */
/* .link-icon,
.link-text {
  display: inline-block; /* Розміщуємо іконку та текст в один рядок */

/* vertical-align: middle; Вирівнюємо іконку і текст по вертикалі */
/* }  */
/* .link-text {
  color: white;
} */
/* --------------- */
.button {
  /* max-width: 251px;
  background-color: #e50000;
  border-radius: 8px;
  padding: 18px 24px;
  color: #fff;
  align-items: center;
  line-height: 150%;
  display: inline-block; */
  text-align: center;
}
.link-button {
  min-width: 251px;
  background: #e50000;
  border-radius: 8px;
  padding: 18px 24px;
  color: #fff;
  line-height: 150%;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 20px;
}
.link-button span {
  background: url(../img/header/start-icon.png);
  background-repeat: no-repeat;
  text-transform: capitalize;
  display: inline-block;
  padding-left: 30px;
}
/* .link-button span {
  background: url(../img/main/start-icon.png) 28px / 24px no-repeat;
  font-size: 18px;
  font-weight: 600;
  text-transform: capitalize;
  display: inline-block;
  padding-left: 32px;
} */
main {
}
.container {
  background: #fdf0e9;
  margin: 0 auto;
  box-shadow: 10px 10px 40px 20px #fdf0e9;
}
.agency-container {
  font-family: "Epilogue", sans-serif;
  padding: 20px;

  background: #fdf0e9;
  vertical-align: middle;
  margin: 0 auto;
  font-size: 0;
  max-width: 1170px;
  margin-bottom: 100px;
}
.agency-block {
  display: inline-block;
  vertical-align: middle;
  margin-inline-end: 171px;
  max-widht: 420px;
}

.features {
  line-height: 200%;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #ef6d58;
  margin-bottom: 20px;
  font-size: 18px;
}
.agency-title-text {
  margin-bottom: 26px;
}
.agency-title-text h2 {
  font-weight: 800;
  font-size: 56px;
  color: #391400;
  line-height: 114.286%;
  letter-spacing: -1px;
  margin-bottom: 26px;
}
.agency-title-text p {
  font-size: 20px;
  line-height: 160%;
  color: #391400;
}
.agency-items {
}
.items {
}

.item {
  background: url(../img/main/icon-check.png);
  background-repeat: no-repeat;
  vertical-align: middle;
  padding-left: 50px;
  margin-bottom: 10px;
  min-height: 32px;
}
.item span {
  line-height: 200%;
  color: rgba(57, 28, 0, 0.64);
  margin-bottom: 50px;
  font-size: 18px;
}
.agency-block-img {
  display: inline-block;
  vertical-align: middle;
  max-width: 529px;
  font-size: 18px;
}
/* Homework_01 */

.my-homework-container_01 {
  font-family: "Edu AU VIC WA NT Guides", cursive;
  line-height: 150%;
  box-shadow: 10px 10px 40px 20px pink;
  /* background: radial-gradient(circle, transparent 20%, rgba(0, 0, 0, 0.7) 100%); */

  margin: 0 auto;
  margin-bottom: 50px;
}
.my-homework_01 {
  background: #f1dede;
  text-align: center;
  padding-block: 20px;
}
.my-homework-items_01 {
  display: inline-block;
  vertical-align: middle;
}
.homework-items_01 {
}
.homework-item_01-img_01 {
  background: url(../img/homework/homework_01.jpg);
  vertical-align: middle;
  display: inline-block;
  background-repeat: no-repeat;
  padding-block: 50px;
  text-align: center;
  margin-right: 10px;
  color: #e50000;
  border: 3px solid #e50000;
  background-size: 300px;
  border-radius: 50%;
  /* display: none; */
  /* visibility: hidden; */
}
.homework-item_01-img_02 {
  background: url(../img/homework/homework_01.jpg);
  display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
  padding-block: 50px;
  text-align: center;
  margin-right: 10px;

  color: #391400;
  border-inline: 3px solid #391400;
  border-block: 3px dotted #391400;
  border-radius: 12px;
  background-size: 300px;
}
.homework-item_01-img_03 {
  background: url(../img/homework/homework_01.jpg);
  display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
  padding-block: 50px;
  text-align: center;
  margin-right: 10px;

  color: aquamarine;
  border-radius: 50px;
  background-size: 300px;
}
.homework-item_01-img_04 {
  background: url(../img/homework/homework_01.jpg);
  display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
  padding-block: 50px;
  text-align: center;
  margin-right: 10px;

  color: yellow;
  border-top: 3px dashed yellow;
  border-bottom: 3px double rgb(131, 131, 19);
  border-right: 10px ridge #b2b257;
  outline: 3px solid #565cda;
  background-size: 300px;
}
.homework-item_01-img_05 {
  background: url(../img/homework/homework_01.jpg);
  display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
  padding-block: 50px;
  text-align: center;
  margin-right: 10px;

  color: violet;
  background-size: 300px;
  /* box-shadow: 11.4px 11.4px 34.7px rgba(0, 0, 0, 0.043),
    25.4px 25.4px 55.7px rgba(0, 0, 0, 0.057),
    100px 100px 80px rgba(0, 0, 0, 0.07); */
  /* box-shadow: inset 7px 7px -5.6px rgba(0, 0, 0, 0.115); */
  border-radius: 0% 100% 53% 47% / 41% 44% 56% 59%;
}
/* Homework_02 */
.my-homework-container_02 {
  font-family: "Edu AU VIC WA NT Guides", cursive;
  box-shadow: 10px 10px 40px 20px rgb(0, 0, 0);
  line-height: 150%;
  margin: 0 auto;
  margin-bottom: 50px;
}
.my-homework_02_img {
  min-height: 150px;
  background: url(../img/homework/repeat.jpg);
}
.my-homework_02 {
  text-align: center;
}
.my-homework-items_02 {
}
.homework-items_02 {
  padding-block: 20px;
}
.homework-item_02-img_01 {
  background: url(../img/homework/homework_02.jpeg);
  display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
  /* padding-block: 50px; */
  border-radius: 10px;
  text-align: center;
  margin-right: 10px;
  color: aquamarine;
  /* border-radius: 0% 100% 0% 100% / 0% 0% 100% 100%; */
  background-size: 300px;
  margin: 20px;
  /* background: rgb(169, 60, 60);
  background: radial-gradient(
    circle,
    rgba(169, 60, 60, 0.4766500350140056) 0%,
    rgba(121, 118, 9, 1) 16%,
    rgba(62, 97, 138, 0.12650997899159666) 29%,
    rgba(120, 68, 159, 0.14331670168067223) 53%,
    rgba(178, 43, 89, 0.10690213585434172) 70%,
    rgba(0, 212, 255, 0.13211221988795518) 93%
  ); */

  /* background-size: 300px;

  display: inline-block;
  vertical-align: middle;
  text-align: center;
  background-repeat: no-repeat; */
}
.homework-item_02-img_02 {
  background: url(../img/homework/homework_02.jpeg);
  background-size: 300px;
  padding-block: 12px;
  border-radius: 20px;

  margin: 20px;
  color: aquamarine;

  display: inline-block;
  vertical-align: middle;
  text-align: center;
  background-repeat: no-repeat;
  /* border-radius: 0% 100% 100% 0% / 100% 0% 100% 0%; */
  /* background: rgb(169, 60, 60);
  background: linear-gradient(
    90deg,
    rgba(169, 60, 60, 0.4766500350140056) 0%,
    rgba(121, 118, 9, 1) 16%,
    rgba(62, 97, 138, 0.12650997899159666) 29%,
    rgba(120, 68, 159, 0.14331670168067223) 53%,
    rgba(178, 43, 89, 0.10690213585434172) 70%,
    rgba(0, 212, 255, 0.13211221988795518) 93%
  ); */
}
.homework-item_02-img_03 {
  background: url(../img/homework/homework_02.jpeg);
  padding-block: 30px;
  border-radius: 20px;
  background-size: 300px;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  background-repeat: no-repeat;
  margin: 20px;
  color: aquamarine;
  /* background: rgb(63, 94, 251);
  background: radial-gradient(
    circle,
    rgba(63, 94, 251, 1) 0%,
    rgba(252, 70, 107, 1) 100%
  ); */
}
.homework-item_02-img_04 {
  background: url(../img/homework/homework_02.jpeg);
  /* background-size: 300px; */
  /* padding-block: 50px; */
  color: aquamarine;
  padding-block: 40px;
  border-radius: 15px;

  display: inline-block;
  vertical-align: middle;
  text-align: center;
  background-repeat: no-repeat;
  margin: 20px;
  border-radius: 12px;
  background-size: cover;
}
.homework-item_02-img_05 {
  background: url(../img/homework/homework_02.jpeg);
  /* background-size: 300px; */
  padding-block: 50px;
  color: aquamarine;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  background-repeat: no-repeat;
  margin: 20px;
}
.homework-item_02-img_01 li {
}

/* Homework_03 */
.my-homework-container_03 {
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 20px;
  text-align: center;
}
.homework-scroll {
  background: url(../img/homework/homework_03.jpeg);
  background-size: cover;
  font-size: 20px;
  font-weight: 900;
  background-repeat: no-repeat;
  color: rgb(255, 0, 0);
  display: inline-block;
  vertical-align: top;
  /* overflow: scroll; */
  border: 5px solid rgb(255, 230, 0);
  padding: 10px;
  box-shadow: 10px 10px 40px 20px #f6ff00;
  margin: 20px;
  min-width: 1000px;
}
.content {
  max-width: 150px;
  max-height: 150px;
}

.homework-block_01 {
  background: url(../img/homework/homework_03.jpeg) center / /*50%*/ 50px;
  min-height: 150px;
  min-width: 150px;
  color: blue;
  font-size: 20px;
  font-weight: 900;
  /* box-shadow: 10px 10px 10px 10px red; */
  /* box-shadow: 10px -20px 50px 5px red; */
  box-shadow: 10px 10px 40px 20px #3b52a4;
  display: inline-block;
  vertical-align: top;
  /* vertical-align: bottom; */
  vertical-align: top;
  margin: 35px;
}
.homework-block_02 {
  background: url(../img/homework/homework_03.jpeg) center / 150px;
  min-height: 150px;
  min-width: 150px;
  display: inline-block;
  vertical-align: top;
  margin: 35px;
  font-size: 20px;
  font-weight: 900;
}
.homework-block_02 p {
  margin-top: 20%;
}
.homework-block_03 {
  background: url(../img/homework/homework_03.jpeg) left top / 70px no-repeat,
    url(../img/homework/homework_03.jpeg) right bottom / 70px no-repeat,
    url(../img/homework/homework_03.jpeg) top right / 50px no-repeat,
    url(../img/homework/homework_03.jpeg) left bottom / 50px no-repeat,
    url(../img/homework/homework_03.jpeg) center / cover no-repeat;
  min-height: 150px;
  color: #e50000;
  min-width: 150px;
  margin: 35px;
  display: inline-block;
  vertical-align: top;
  font-size: 20px;
  font-weight: 900;
}
.homework-block_04 {
  /* background: url(../img/homework/homework_03.jpeg) top;
  background: url(../img/homework/homework_03.jpeg) left;
  background: url(../img/homework/homework_03.jpeg) right; */
  background: url(../img/homework/homework_03.jpeg) center / contain no-repeat;
  min-height: 150px;
  min-width: 150px;
  min-height: 150px;
  display: inline-block;
  margin: 35px;
  font-size: 20px;
  font-weight: 900;
}
.homework-block_04 p {
  margin-top: 50px;
  color: white;
}
.homework-block_05 {
  background: url(../img/homework/homework_03.jpeg) center / cover no-repeat;
  min-width: 150px;
  min-height: 150px;
  margin: 35px;
  display: inline-block;
  vertical-align: top;
  font-size: 20px;
  font-weight: 900;
}
